.cabeçalho {
	background-image: linear-gradient(#103240,#196864);
	height: 100%;
	font-family: 'Oxanium', cursive;
}
.imgProfile {
	width: 70%;
	transform: rotate(270deg);
	border-radius: 100%;
}
.imgContainer{
	max-width: 400px;
	min-width: 250px;	
	margin-top: 2vw;
	margin-bottom: 2vw;
	display:flex;
	justify-content: center;
}
hr {
	color: #fff;
	background-color: #fff;
}
.infos{
	display: flex;
	align-items: center;
}
.titleCategory{
	color: #FFFFFF;
	font-size: 25px;
	margin-bottom: 2vw;
}
.nameTitle{
	font-size: 30px;
	color: #FFFFFF;
	margin-bottom: 2vw;
}
.whiteFont {
	color:#FFFFFF
}
.infosAlign{
	text-align: justify;
}
.colorBG1{
	background-color: #F0F0F2;
}
.colorBG2{
	color:#ffffff;
	background-color: rgb(72, 79, 95);
}
.spaceAround{
	margin-top: 2vw;
	margin-bottom: 2vw;
	margin-left: 1vw;
	margin-right: 1vw;
}
.border-left {
	margin-top: 1vw;
	margin-left: 0vw;
    padding: 0 0 0 2rem;
    border-left: 0.2vw solid #196864 !important;
	padding-top: 30px;

}
.tecnologias{
	margin: 1vw 1vw 1vw 1vw;
	width: 100px;
}
.container {
	display: flex;
	align-content: flex-start;
}
.subTitle{
	margin-top: 2vw;
	font-size: 30px;
	font-family: 'Oxanium', cursive;
	text-align: center;	
}
.hrTtitleTec{
	background-color: #196864;
	height: 2.5px;
	max-width: 100px;
	width: 25vw;
}
.titleExp{
	font-size: 17px;
	font-weight: bolder;
	font-family: 'Oxanium', cursive;
	margin-bottom: 10px;
}
.dateExp{
	font-family: 'Oxanium', cursive;
	margin-bottom: 10px;

}
.descExp{
	margin-left: 1vw;
	margin-right: 1vw;
	font-size: 14.5px;
	font-family: 'Oxanium', cursive;
	text-align: justify;
	margin-bottom: 10px;

}
.prefContent{
	margin-left: 1vw;
	margin-right: 1vw;
	font-size: 15;
	font-family: 'Oxanium', cursive;
	text-align: justify;
	margin-bottom: 10px;
}
.contactImg{
	max-width: 50px;
	margin:10px;
}
.contact{
	display: flex;
	align-items: baseline;
	margin-bottom: 15px;
}